<div class="datamap">
  <div class="row">
    <div class="column">
      <div class="card gaikuang">
        <div class="face">
          <img src="~@assets/images/screen1.png" />
          <div>运维概况</div>
          <!-- <img width="100%" src="~@assets/images/screen1.png" /> -->
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back1.png" />
          <a :href="url1" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card fanghu">
        <div class="face">
          <img src="~@assets/images/screen2.png" />
          <div>安全防护态势</div>
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back2.png" />
          <a :href="url2" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card jk">
        <div class="face">
          <img src="~@assets/images/screen3.png" />
          <div>主机运行监控</div>
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back3.png" />
          <a :href="url3" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card app-jk">
        <div class="face">
          <img src="~@assets/images/screen4.png" />
          <div>应用运行监控</div>
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back4.png" />
          <a :href="url4" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card secure">
        <div class="face">
          <img src="~@assets/images/screen5.png" />
          <div>用户行为分析</div>
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back5.png" />
          <a :href="url5" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card bb">
        <div class="face">
          <img src="~@assets/images/screen6.png" />
          <div>数据运行监控</div>
        </div>
        <div class="back">
          <img width="100%" src="~@assets/images/back6.png" />
          <a :href="url6" target="_blank">点击进入</a>
        </div>
      </div>
    </div>
    <!-- <div class="column">
      <div class="card noAni">
        <div class="face">
          <b>. . .</b>
          <div>更多内容, 敬请期待</div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card noAni">
        <div class="face">
          <b>. . .</b>
          <div>更多内容, 敬请期待</div>
        </div>
      </div>
    </div> -->
    <!-- <div class="column">
      <div class="card noAni">
        <div class="face">
          <b>. . .</b>
          <div>更多内容, 敬请期待</div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="column">
      <div class="card noAni">
        <div class="face">
          <img width="100%" src="~@assets/images/tobe.png" />
          <div>更多内容, 敬请期待</div>
        </div>
      </div>
    </div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>
