// !important, hacks, overrides, helper
.u-clear {
  clear: both;
}
.u-clearfix {
  @include clearfix;
}
.u-float-left {
  float: left;
}
.u-float-right {
  float: right;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}

.u-hidden {
  display: none !important;
}

.u-relative {
  position: relative;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mtgutter {
  margin-top: gutter() * 2;
}
.u-nomargin {
  margin: 0 !important;
}
.u-margin-bottom--small {
  margin-bottom: 10px;
}

.u-margin-bottom--medium {
  margin-bottom: 20px;
}
.u-full-height {
  height: 100%;
}
.u-height90 {
  height: 89%;
}
