<div class="datamap">
    <!-- <navi :data="menus" /> -->
    <div class="row">
        <div class="column">
            <div class="card gaikuang">
                <div class="face">
                    <img src="~@assets/images/screen1.png" />
                    <div>整体概况</div>
                    <!-- <img width="100%" src="assets/screen1.png" /> -->
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/screen_general.png" />
                    <router-link :to="{name: 'home'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card fanghu">
                <div class="face">
                    <img src="~@assets/images/screen2.png" />
                    <div>产品运维概况</div>
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/screen_running.png" />
                    <router-link :to="{name: 'running'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card jk">
                <div class="face">
                    <img src="~@assets/images/screen3.png" />
                    <div>平台产品概况</div>
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/screen_platform.png" />
                    <router-link :to="{name: 'platform'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">`
            <div class="card app-jk">
                <div class="face">
                    <img src="~@assets/images/screen4.png" />
                    <div>数据建设分析</div>
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/screen_data.png" />
                    <router-link :to="{name: 'data'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card secure">
                <div class="face">
                    <img src="~@assets/images/screen5.png" />
                    <div>应用运行分析</div>
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/screen_apps.png" />
                    <router-link :to="{name: 'apps'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card secure">
                <div class="face">
                    <img src="~@assets/images/screen6.png" />
                    <div>高校应用运行监控中心</div>
                </div>
                <div class="back">
                    <img width="100%" src="~@assets/images/schoolMonitor.png" />
                    <router-link :to="{name: 'schoolMonitor'}" target="_blank">点击进入</router-link>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card noAni">
                <div class="face">
                    <img width="100%" src="~@assets/images/tobe.png" />
                    <div>更多内容, 敬请期待</div>
                </div>
            </div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>