@import '~sass/settings';
@import '~sass/tools';
@import 'breakpoint';
.progress {
  @include clearfix;
  .progress__label {
    text-align: right;
    height: 3.3em;
    max-height: 3.3em;
    @include truncate(8em);
    @include breakpoint(max-width 1580px) {
      height: 2.3em;
      max-height: 2.3em;
    }
  }
  .progress__bar {
    height: 0.8em;
    background: rgba(234, 234, 234, 0.28);
    border-radius: 40px;
    margin: 0 0.8em;
    position: relative;
    .progress__item {
      border-radius: 40px;
      overflow: hidden;
      height: 100%;
      background-image: linear-gradient(-90deg, #6EC02B, #0E5BB0 100%);
      // &::after {
      //   content: '';
      //   background: red;
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      // }
    }
  }
  .progress__num {
    font-size: $fontSizeLarge;
  }
}
